
    <div class="modal fade" id="modal_crear_personal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Crear Personal</h4>
              </div>
              <div class="modal-body">
                <form role="form" id="crear_personal_form">
                <!-- text input -->
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre..." name="nombre">
                  <label>Apellido</label>
                  <input type="text" class="form-control" placeholder="Apellido..." name="apellido">
                  <label>Cedula</label>
                  <input type="text" class="form-control" placeholder="Cedula" name="cedula">
                  <label>Teléfono de Casa</label>
                  <input type="tel" class="form-control" placeholder="" name="tlf_casa" data-inputmask="'mask':['(999) 999-9999']" data-mask>
                  <label>Teléfono de Oficina</label>
                  <input type="tel" class="form-control" placeholder="" name="tlf_oficina" data-inputmask="'mask':['(999) 999-9999']" data-mask>
                  <label>Teléfono Celular</label>
                  <input type="tel" class="form-control" placeholder="" name="tlf_celular" data-inputmask="'mask':['(999) 999-9999']" data-mask>
                  <label>Fecha de Nacimiento</label>
                  <input type="date" class="form-control" placeholder="" name="fecha_nacimiento">
                  <label>Nacionalidad</label>
                  <input type="text" class="form-control" placeholder="Nacionalidad" name="nacionalidad">
                </div>
                <div class="form-group" onchange="mostrarProfesionCrear()">
                  <label>Tipo Empleado</label>
                  <div class="radio">
                    <label>
                      <input type="radio" name="tipo_empleado" id="tipo_empleado1" value="1" checked>
                      Coordinador Tecnico
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="tipo_empleado" id="tipo_empleado2" value="2">
                      Coordinador Administrativo
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="tipo_empleado" id="tipo_empleado3" value="0">
                      Administrador
                    </label>
                  </div>
                </div>
                <div id="profesion_crear" style="display:none">
                  <label>Profesión</label>
                  <input type="text" class="form-control" placeholder="Profesion..." name="profesion">
                </div>
                <div class="form-group">
                  <label>Sexo</label>
                    <div class="radio">
                      <label>
                        <input type="radio" name="sexo" id="sexo1" value="m">
                        Masculino
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="sexo" id="sexo2" value="f">
                        Femenino
                      </label>
                    </div>
                </div>
              </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                <button type="button" id="crear_personal" class="btn btn-primary">Crear Empleado</button>
              </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

