
    <div class="modal fade" id="modal_crear_personal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Crear Personal</h4>
              </div>
              <div class="modal-body">
                <form role="form" id="crear_personal_form">
                <!-- text input -->
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre..." name="nombre">
                  <label>Apellido</label>
                  <input type="text" class="form-control" placeholder="Apellido..." name="apellido">
                  <label>Cedula</label>
                  <input type="text" class="form-control" placeholder="Cedula" name="cedula">
                  <label>Guarderia</label>
                  <input type="text" class="form-control" placeholder="Codigo" name="guarderia" >
                  <label>Teléfono</label>
                  <input type="text" class="form-control" placeholder="" name="tlf">
                  <label>Direccion</label>
                  <input type="text" class="form-control" placeholder="" name="direccion">
                  <label>Sueldo</label>
                  <input type="text" class="form-control" placeholder="" name="sueldo">
                </div>

                  <label>Nivel de Estudio</label>
                  <div class="radio">
                    <label>
                      <input type="radio" name="tipo_empleado" id="tipo_empleado1" value="bachillerato" checked>
                      Bachillerato
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="tipo_empleado" id="tipo_empleado2" value="TSU">
                       TSU
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="tipo_empleado" id="tipo_empleado3" value="universitario">
                      Universitario
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="tipo_empleado" id="tipo_empleado3" value="postgrado">
                      Postgrado
                    </label>
                  </div>

              </form>
              </div>
              <div class="modal-footer">
                
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                <button type="button" id="crear_personal" class="btn btn-primary">Crear Empleado</button>
              </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
