
    <div class="modal fade" id="modal_editar_personal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Editar Empleado</h4>
            </div>
            <div class="modal-body">
              <form role="form" id="editar_personal_form">
              <!-- text input -->
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre..." name="nombre" id="nombre">
                <input type="hidden" class="form-control" placeholder="Nombre..." name="codigo" id="personal">
                <label>Apellido</label>
                <input type="text" class="form-control" placeholder="Apellido..." name="apellido" id="apellido">
                <label>Cedula</label>
                <input type="text" class="form-control" placeholder="Cedula" name="cedula" id="cedula">
                <label>Guarderia</label>
                <select name="guarderia" id="guarderia" class="select2 form-control">
                  <option default disable value></option>
                  {% for g in guarderias %}
                  <option value="{{ g.id_guarderia }}">{{ g.nombre }}</option>
                  {% endfor %}
                </select>
                <label>Teléfono</label>
                <input type="text" class="form-control" placeholder="" name="tlf" id="telefono">
                <label>Direccion</label>
                <input type="text" class="form-control" placeholder="" name="direccion" id="direccion">
                <label>Sueldo</label>
                <input type="text" class="form-control" placeholder="" name="sueldo" id="sueldo">
              </div>
              <div class="row">
                  <!-- Nivel Estudio -->
                  <div class="col-md-6">
                  <label>Nivel de Estudio</label>
                  <div class="radio">
                    <label>
                      <input type="radio" name="tipo_empleado" id="tipo_empleado1" value="bachillerato" checked>
                      Bachillerato
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="tipo_empleado" id="tipo_empleado2" value="TSU">
                       TSU
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="tipo_empleado" id="tipo_empleado3" value="universitario">
                      Universitario
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="tipo_empleado" id="tipo_empleado3" value="postgrado">
                      Postgrado
                    </label>
                  </div>
                </div>

                <!--Actividades -->
                <div class="col-md-6">
                  <label>Actividades</label>
                    <div class="form-check ">
                      <input class="form-check-input" type="checkbox" name="actividad[]" value="Literatura">
                      <label class="form-check-label" for="defaultCheck1">Literatura</label>
                    </div>

                    <div class="form-check ">
                      <input class="form-check-input" type="checkbox" name="actividad[]" value="Arte">
                      <label class="form-check-label" for="defaultCheck2">Arte</label>
                    </div>

                    <div class="form-check ">
                      <input class="form-check-input" type="checkbox" name="actividad[]" value="Matematica">
                      <label class="form-check-label" for="defaultCheck3">Matematica</label>
                    </div>

                    <div class="form-check ">
                      <input class="form-check-input" type="checkbox" name="actividad[]" value="Deportiva">
                      <label class="form-check-label" for="defaultCheck4">Deportiva</label>
                    </div>

                    <div class="form-check ">
                      <input class="form-check-input" type="checkbox" name="actividad[]" value="Manualidades">
                      <label class="form-check-label" for="defaultCheck4">Manualidades</label>
                    </div>

                </div>
              </div>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
              <button type="button" id="editar_personal" class="btn btn-primary">Guardar Cambios</button>
            </div>
          </div>
          <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
