
    <div class="modal fade" id="modal_crear_sedes">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Crear Sede</h4>
            </div>
            <div class="modal-body">
              <form role="form" id="crear_sedes_form">
              <!-- text input -->
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre..." name="nombre">
                <label>Lugar</label>
                <input type="text" class="form-control" placeholder="Dirección..." name="lugar">
                <label>Rif</label>
                <input type="text" class="form-control" placeholder="RIF" name="rif">
                <label>Telefono</label>
                <input type="text" class="form-control" placeholder="Telefono" name="telefono">
                <label>Costo</label>
                <input type="text" class="form-control" placeholder="Costo" name="costo">
                <label>Encargado</label>
                <select class="form-control select2" name="coord_tecnico"  data-placeholder="">
                    <option disabled selected value></option>
                {% for t in tecnicos %}
                    <option value="{{ t.cedula_empleado }}">{{ t.nombre }} {{ t.apellido }}</option>
                {% endfor %}
                </select>
              </div>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
              <button type="button" id="crear_sedes" class="btn btn-primary">Crear Sede</button>
            </div>
          </div>
          <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
