
    <div class="modal fade" id="modal_crear_color">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Crear color</h4>
            </div>
            <div class="modal-body">
              <form role="form" id="crear_color_form">
              <!-- text input -->
              <div class="form-group">
                <label>A単o de inicio de la temporada</label>
                <input type="number" class="form-control" placeholder="A単o de inicio..." name="anio_ini">
                <label>A単o de fin de la temporada</label>
                <input type="number" class="form-control" placeholder="A単o fin..." name="anio_fin">
                <label>Color del short</label>
                <input type="text" class="form-control" placeholder="" name="color_short">
                <label>Color camisa</label>
                <input type="text" class="form-control" placeholder="" name="color_camisa">
                <div class="form-group">
                    <label>Tipo de Uniforme</label>
                    <div class="radio">
                      <label>
                        <input type="radio" name="tipo" id="tipo1" value="0">
                        Partido
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="tipo" id="tipo2" value="1">
                        Practica
                      </label>
                    </div>
                </div>
                <label>Sede</label>
                <select class="form-control select2" name="uniforme"  data-placeholder="">
                    <option disabled selected value></option>
                {% for u in uniformes %}
                    <option value="{{ u.codigo_producto }}">{{ u.descripcion }} ; {{ u.nombre }}</option>
                {% endfor %}
                </select>
              </div>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
              <button type="button" id="crear_color" class="btn btn-primary">Crear color</button>
            </div>
          </div>
          <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

