<ul>
	<li>
		<p>Mantenimiento de todos los datos básicos: padres, representantes, niños, actividades, comidas, etc. A esto lo llamaremos CRUD (Create Replace Update Delete, las 4 operaciones básicas de una BD)</p>
	</li>
	<li>
		<p>Consultas generales de los datos cargados en el sistema. Estas consultas deben ser lo
			suficientemente flexibles (se deben definir 3 criterios de consulta por estructura), por
			ejemplo en el CRUD de inscripción se deben definir 3 campos de búsqueda (ejemplo:
			actividad, guardería y fecha de inscripción), entonces el sistema debe permitir hacer
			consultas sobre uno solo de estos criterios, 2 de ellos o los tres a la vez. Adicionalmente
			siempre se debe poder consultar todos los registros en la BD (en el ejemplo anterior,
			todas las inscripciones que están almacenadas en la BD)</p>
	</li>	
	<li>
		<p>Inscripciones, mensualidades, pagos.</p>
	</li>
	<li>
		<p>Asistencia de niños con sus respectivas multas por retardo</p>
	</li>
	<li>
		<p>Estados de cuenta de los padres, indicando morosidad (cualquier tipo de deuda) </p>
	</li>
	<li>
		<p>Registro de almuerzos y selección de los mismos</p>
	</li>
	<li>
		<p>Pagos de Comidas</p>
	</li>
	<li>
		<p>Informe semanal de actividades del niño</p>
	</li>
	<li>
		<p>Monto ingresado por cada guardería y monto total de toda la cadena de guarderías</p>
	</li>
		
		
	<li>
		<p>Estadísticas de:</p>
		<ul>
			<li><p>Que guardería factura más/menos</p></li>
			<li><p>Actividades más/menos contratadas</p></li>
			<li><p>Padres más/menos puntuales</p></li>
		</ul>
	</li>
	<li>
		<p>Todas las direcciones deben almacenarse así: calle/av, edif/casa, urbanización, ciudad
		y estado</p>
	</li>
</ul>