<p>El grupo de guarderías “Amamos a su bebe como en casa” ofrece sus servicios de cuidados
integrales y enseñanza inicial de niños en edades de 1 a 6 años favoreciendo así al desarrollo integral
de los mismos. </p>
</br>
<p>Cristina Pérez es la propietaria de esta cadena de guarderías, las cuales se encuentran
distribuidas a lo largo de toda Venezuela en distintas ciudades. Cada guardería labora
independientemente una de otra, de éstas se desea conocer el RIF, nombre, dirección, teléfonos,
datos de la encargada y del personal que allí labora. De estos conocemos: C.I., nombre, apellido,
dirección, teléfono, sueldo, nivel de estudio (bachillerato, TSU, universitario, postgrado), experiencia
en otros trabajos, actividades asignadas dentro de la guardería y para el caso de la encargada, desde
que fecha tiene esta responsabilidad. Cada guardería puede tener un horario de funcionamiento
distinto, normalmente reciben los bebes desde las 6:00 am y algunas trabajan hasta las 6:00 pm.
Todas trabajan los 12 meses del año, con algún recargo en sus costos para los meses de Agosto y
Diciembre.</p>
</br>
<p>Todas las guarderías tienen un grupo de bebes/niñas/niños a los cuales se les presta el
servicio. Conocemos la información de ambos padres: C.I., nombre, apellido, dirección, e-mail,
teléfonos de contacto (esto es de suma importancia: celular, casa y oficina), parentesco, profesión,
estado civil y si viven en la misma dirección. Tenemos casos de niños que solo tienen un progenitor
(padre o madre) o que lo está criando alguien distinto a sus padres, simplemente esto lo sabemos por
el parentesco con el niño, en ese caso solo registramos uno de los representantes. De cada uno de
estos niños/niñas conocemos: nombre, apellido, fecha de nacimiento, edad, sexo, enfermedades
sufridas (cuando), alergias, medicinas que toma dependiendo del síntoma (fiebre, dolor de barriga,
etc.) y en qué cantidad, parentesco con algún otro niño en la guardería, preferencias de juegos.
También necesitamos la información del pediatra de cada niño: Nombre, teléfonos de contacto (esto
es de suma importancia por si se presenta una emergencia), tenemos muchos niños que comparten el
mismo pediatra. Como todos estos niños son menores a 9 años y no tienen CI, le asignamos una letra
(A,B,C…) al inicio de la CI del padre/madre o representante (si el niño tiene registrado ambos padres,
identificamos aquel que sea el “principal”, normalmente es la madre, y es su CI la que usamos para
crear el código del niño). Si hay más de un niño por padre, asignamos la letra a la cedula de forma
consecutiva. Tenemos codificadas las enfermedades, medicinas, síntomas, juegos y pediatras.</p>
</br>
<p>Las guarderías ofrecen una serie de actividades adicionales al cuidado diario (principal
actividad), nos preocupamos porque sus hijos se desarrollen lo más integralmente posible y creemos
firmemente que desde pequeños deben tener alguna actividad extra curricular. Entre las actividades
que ofrecen las guarderías tenemos: natación, música, pintura, futbol, baile y babygym.
Adicionalmente a estas, luego de cumplidos los 4 años ofrecemos la actividad de desarrollo motriz,
iniciación a la lectura e iniciación a las matemáticas (requisitos indispensables para aprobar cualquier
examen de admisión en los colegios para entrar a 1er grado). De cada una de estas actividades
manejamos su código, nombre, descripción, a partir de qué edad se puede realizar esa actividad, cupo
máximo y mínimo, horario (día de la semana y hora desde y hora hasta), si la actividad requiere de
trasporte para desplazarse al sitio donde será impartida (en este caso se deberá agregar el costo del
mismo) y costo de la actividad. Todas las actividades duran 1 hora. Para aquellas que son fuera de la
guardería debe tomarse en cuenta, para la inscripción de otra actividad, que el autobús tarda al menos media hora en llevarlos y media en traerlos. Nosotros recomendamos que en un mismo día no
se inscriba al niño en más de dos actividades, ya que el mismo necesita tiempo para dormir y
descansar.</p>
</br>
<p>Las actividades que dependen de la guardería (aquellas que se llevan a cabo dentro de esta y
no requiere traslado) les asignamos un responsable (maestra o instructor), para ello en nuestro
registro del personal de la guardería conocemos que actividades están capaces de realizar. </p>
</br>
<p>Cuando se inscribe un niño en la guardería, se genera un número de inscripción formado por
el año (de la fecha de inscripción) y un consecutivo, además se registra su fecha de inscripción así
como los datos del representante (padre principal). En ese momento se pueden seleccionar si quiere
alguna actividad adicional a la del cuido. Somos muy cuidadosos en verificar si existe cupo para el
horario que se está seleccionando y en caso de no haberlo, le ofrecemos otros horarios donde exista
cupo. Se pueden seleccionar tantas actividades como el representante desee inscribir a su hijo, tal y
como explicamos antes, revisamos que no haya choque entre los horarios de las actividades, así
mismo si la actividad requiere transporte se incluye dentro de la inscripción. Una vez seleccionado
todo se cierra esta inscripción y se le informa al representante cuanto tendría que pagar
mensualmente. Si un padre tiene mas de un hijo, se registran inscripciones independientes por cada
uno de ellos. </p>
</br>
<p>Todas nuestras guarderías trabajan con base a 13 meses, es decir 12 mensualidades mas 1
que corresponde a la inscripción. Como ya explicamos antes, cada guardería, dependiendo de la
ciudad y/o zona, pueden tener unas tarifas distintas. Las mensualidades deben ser canceladas a más
tardar los 5 primeros días del mes, por supuesto que necesitamos llevar este control para saber quien
ha cancelado y a quién debemos recordarles que deben cancelar. Muchas veces llegamos acuerdos
con los representantes para que realicen los pagos en varias partes, pero nunca más allá del día 10 de
cada mes. La forma de pago puede ser variada (cheque, tarjeta de crédito o tarjeta de débito; en cada
caso necesitamos la información particular del pago, por ejemplo: numero del cheque, banco y
monto). Cuando el representante cancela después del 10, se les cobra unos intereses, los cuales son
10% del 10 al 20, 20% del 21 al 25 y 30% 26 al 31. Si se le acumula más de 1 mes se le carga el 50% del
valor de la mensualidad en el siguiente pago. Con más de 2 mensualidades el niño no es recibido en la
guardería. De todos los pagos anotamos el nro del pago (consecutivo por cada inscripción), la fecha
del pago, el concepto 8inscripción o mensualidad) y el resto de los datos descrotos anteriormente del
pago.</p>
</br>
<p>Usualmente nuestros padres tienen más de un hijo, por lo que ofrecemos un descuento de
hermanos solo para la actividad de cuido, del 10% en el segundo hermano y de 15% a partir del 3er
hermano. </p>
</br>
<p>Las actividades se pueden inscribir en el mismo momento de ingresar al niño en la guardería o
los meses posteriores, así que el costo de la mensualidad podrá variar si se agrega o retira al niño de
alguna actividad. En los momentos hiperinflacionarios que estamos viviendo, las guarderías están
haciendo ajustes de sus costos mensualmente.</p>
</br>
<p>Como explicamos al inicio, las guarderías tienen un horario para que los padres dejen a sus
hijos, la tarifa regular incluye 10 horas de cuido (por ejemplo alguien que deja a su bebe a las 6:00 am
debe recogerlo a las 4:00 pm) sin embargo ofrecemos el servicio de horas extra, las cuales pueden ser
contratadas al momento de la inscripción o posteriormente, cobramos éstas como horas completas
de 60 minutos sin importar si el niño es retirado antes. En muchos casos retiran a los niños luego del
horario establecido, por lo que contamos con un sistema de “cobro de multas” el cual está calculado
en bloques de 30 minutos. Cada guardería establece un monto por estas multas, las cuales deben ser
pagadas al día siguiente que suceda el retraso a través de transferencia electrónica. Llevamos un
control sobre la asistencia de los niños, anotando por cada día la hora de llegada y salida, entonces al
revisar que la hora de salida está fuera del horario fijado en la inscripción y no tenga contratada horas
extra, se debe generar un cobro de de multa indicando el nro de transferencia y el monto.</p>
</br>
<p> Para aquellos casos en que los padres o el representante no pueda buscar a sus hijos,
necesitamos conocer quiénes serían los autorizados a retirar al niño: C.I., nombre, apellido,
parentesco y teléfonos de contacto. En aquellos casos de emergencia que el niño deba irse con
alguien distinto a su representante o a los autorizados, el representante debe llamar a la encargada
de la guardería e infórmale esto.</p>
</br>
<p>Las guarderías ofrecen el servicio de almuerzo (los niños deben traer su desayuno y la
merienda) Al inicio de la semana se les envía un menú (identificado por un nro), el día de la semana al
que corresponde este menú, su costo y las comidas que lo forman (proteína, carbohidrato, ensalada y
bebida), nos aseguramos de ofrecer comidas balanceadas, por lo que todo menú siempre estará
formado por una proteína, un carbohidrato, una ensalada y el jugo natural de frutas. El representante
debe entregar la opción escogida diariamente para esa semana por cada niño. Cada guardería puede
manejar precios distintos para estos menús. Si el representante decide contratar este servicio lo debe
pagar por adelantado el primer día de la semana. Si un día no va asistir a la guardería y lo avisa con 24
horas de anticipación, ese monto se le abona para el siguiente pago. Los niños pueden traer su
almuerzo de la casa y la guardería se los calienta sin costo adicional. Los pagos de las comidas se
hacen con transferencias electrónicas, se genera una factura por el servicio de comida, la cual estará
asociada a la inscripción del niño, que contiene el nro de la factura, la cual estará formada por el
número de la inscripción más el número de la semana (de la 1 a la 52), el nro de la transferencia, la
fecha de pago, y el monto cancelado.</p>
</br>
<p>Semanalmente le entregamos a los representantes un informe de su(s) hijo(s) durante la
semana, este incluye como estuvo la alimentación (si comió completo o no) así como las horas de
llegada y salida.</p>
</br>
<p>Por el lado administrativo, la encargada de la guardería semanalmente debe emitir el reporte
de morosidad de los representantes. Así mismo a la Sra. Pérez le interesa conocer el total ingresado
mensualmente, disgregado por cada una de las guarderías.</p>
