<div class="modal fade" id="modal_crear_actividades">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Crear Actividadess</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="crear_actividades_form">
          <!-- text input -->
          <div class="form-group">
            <label>Codigo</label>
            <input type="text" class="form-control" placeholder="Codigo" name="codigo" value="A00">

            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" name="nombre">

            <label>Transporte</label>
            <input type="text" class="form-control" placeholder="Transporte" name="transporte">

            <label>Costo_trans</label>
            <input type="number" class="form-control" placeholder="" name="costo_trans">

            <label>Edad_minima</label>
            <input type="text" class="form-control" placeholder="Edad_minima" name="edad_minima">

            <label>Descripcion</label>
            <input type="text" class="form-control" placeholder="Descripcion" name="descripcion">

            <label>Tipo Actividad</label>

            <div class="radio">
              <label>
                <input type="radio" name="tipo_actividad" id="tipo_empleado3" value="Literatura" checked>
                Literatura
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="tipo_actividad" id="tipo_empleado3" value="Arte">
                Arte
              </label>
            </div><div class="radio">
              <label>
                <input type="radio" name="tipo_actividad" id="tipo_empleado3" value="Matematica">
                Matematica
              </label>
            </div><div class="radio">
              <label>
                <input type="radio" name="tipo_actividad" id="tipo_empleado3" value="Deporte">
                Deporte
              </label>
            </div><div class="radio">
              <label>
                <input type="radio" name="tipo_actividad" id="tipo_empleado3" value="Manualidades">
                Manualidades
              </label>
            </div>
          </div>
         </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
          <button type="button" id="crear_actividades" class="btn btn-primary">Crear Actividades</button>
        </div>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
