<div class="modal fade" id="modal_editar_horario">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">editar horario</h4>
            </div>
            <div class="modal-body">
              <form role="form" id="editar_horario_form">
              <!-- text input -->
              <div class="form-group">
                <input type="hidden" class="form-control" name="anio_ini" id="anio_ini_edit">
                <input type="hidden" class="form-control" name="anio_fin" id="anio_fin_edit">
                <input type="hidden" class="form-control" name="sede" id="sede_edit">
                <input type="hidden" class="form-control" name="dia" id="dia_edit">
                <label>Hora Inicio</label>
                <input type="number" min="1" max="24" class="form-control" placeholder="" name="hora_ini" id="hora_ini_edit">
                <label>Hora Fin</label>
                <input type="number" min="1" max="24" class="form-control" placeholder="" name="hora_fin" id="hora_fin_edit">
                <label>Categoría</label>
                <select class="form-control select2" name="categoria"  data-placeholder="" id="categoria_edit">
                        <option disabled selected value></option>
                    {% for c in categorias %}
                        <option value="{{ c.nombre_categoria }}">{{ c.nombre_categoria }}</option>
                    {% endfor %}
                </select>
              </div>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
              <button type="button" id="editar_horario" class="btn btn-primary">editar horario</button>
            </div>
          </div>
          <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

