
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Profesora: Susana García</b>
    </div>
    <strong>Copyright &copy; 2017 | Alexander De Azevedo - Sergio García - Greg Gómez | </strong> All rights
    reserved.
  </footer>