
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Profesora: Susana García & Ana K Fernandez</b>
    </div>
    <strong>Copyright &copy; 2017 | Alexander De Azevedo - Fernando Gonzalez - Ramon Garcia | </strong> All rights
    reserved.
  </footer>
