  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MENÚ DE NAVEGACIÓN</li>
        <li>
          <a href="home/">
            <i class="fa fa-th"></i> <span>Inicio</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-graduation-cap"></i>
            <span>Guarderia</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="sedes/"><i class="fa fa-circle-o"></i> Listado de Guarderias</a></li>
            <li><a href="horarios/"><i class="fa fa-circle-o"></i> Horarios</a></li>
            <li><a href="colores/"><i class="fa fa-circle-o"></i> Consulta de Ingresos</a></li>
            <li><a href="colores/"><i class="fa fa-circle-o"></i> Niños Inscritos</a></li>
            <li><a href="colores/"><i class="fa fa-circle-o"></i> Consulta de Actividades</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-male"></i>
            <span>Padres o Representantes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="representantes/"><i class="fa fa-circle-o"></i> Padres</a></li>
            <li><a href="autorizados/"><i class="fa fa-circle-o"></i> Autorizados</a></li>
          </ul>
        </li>

        <li>
          <a href="ninos/ninos">
            <i class="fa fa-users"></i> <span>Niños</span>
          </a>
        </li>
        <li>
            <a href="pediatras/pediatras">
              <i class="fa fa-user-md"></i> <span>Pediatras</span>
            </a>
        </li>
        <li>
          <a href="medicinas/medicinas">
            <i class="fa fa-plus"></i> <span>Medicinas</span>
          </a>
        </li>

        <li>
          <a href="enfermedades/enfermedades">
            <i class="fa fa-ambulance"></i> <span>Enfermedades</span>
          </a>
        </li>

        <li>
          <a href="asistencia/asistencia">
            <i class="fa fa-play-circle"></i> <span>Asistencia</span>
          </a>
        </li>

        <li>
          <a href="juegos/juegos">
            <i class="fa fa-play-circle"></i> <span>Juegos</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-child"></i>
            <span>Actividades</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="actividades/"><i class="fa fa-circle-o"></i> Listado de actividades</a></li>
            <li><a href="actividades/horarios"><i class="fa fa-circle-o"></i> Horarios</a></li>
          </ul>
        </li>
        <li>
          <a href="personal/mostrar">
            <i class="fa fa-users"></i> <span>Personal</span>
          </a>
        </li>
        <li>
          <a href="comidas/comidas">
            <i class="fa fa-qq"></i> <span>Comidas</span>
          </a>
        </li>
        <li class="treeview">
          <a href="views/theme/#">
            <i class="fa fa-leanpub"></i> <span>Menu</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="menus/armarmenus"><i class="fa fa-circle-o"></i> Armar Menú</a></li>
            <li><a href="valores/menus"><i class="fa fa-circle-o"></i> Escoger Menú</a></li>
          </ul>
        </li>

        <li>
          <a href="factura/factura">
            <i class="fa fa-list"></i> <span>Factura</span>
          </a>
        </li>
        <li class="treeview">
            <a href="views/theme/#">
              <i class="fa fa-credit-card"></i> <span>Pagos</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pagos/pagos"><i class="fa fa-circle-o"></i> Mensualidades</a></li>
              <li><a href="pagos/actividades"><i class="fa fa-circle-o"></i> Actividades</a></li>
              <li><a href="pagos/pagoshoras"><i class="fa fa-circle-o"></i> Horas Extras</a></li>
              <li><a href="pagos/multas"><i class="fa fa-circle-o"></i> Multas</a></li>
              <li><a href="pagos/menu"><i class="fa fa-circle-o"></i> Menú</a></li>
              <li><a href="pagos/factura"><i class="fa fa-circle-o"></i> Factura</a></li>
            </ul>
        </li>

        <li class="treeview">
          <a href="views/theme/#">
            <i class="fa fa-list-alt"></i> <span>Inscripciones</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="inscripciones/inscripciones"><i class="fa fa-circle-o"></i> Guarderia</a></li>
            <li><a href="inscripciones/actividad"><i class="fa fa-circle-o"></i> Actividades</a></li>
          </ul>
        </li>


      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
