<section class="content">
    <div class="modal fade" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Crear Posiciones</h4>
              </div>
              <div class="modal-body">
                <form role="form" id="crear_posicion_form">
                <!-- text input -->
                <div class="form-group">
                  <label>Descripci贸n de la posici贸n</label>
                  <input type="text" class="form-control" name="descripcion" placeholder="Introduzca la descripci贸n">
                </div>
              </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="crear_posicion">Crear Posici贸n</button>
              </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</section>
