<div class="modal fade" id="modal_editar_proveedor">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Editar Proveedor</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="editar_proveedor_form">
          <!-- text input -->
          <div class="form-group">
                <input type="hidden" class="form-control" placeholder="Rif" name="rif" id="id_rif">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" name="nombre" id="id_nombre">               
                <label>Direccion</label>
                <input type="text" class="form-control" placeholder="Direccion" name="direccion" id="id_direccion">
                <label>Teléfono</label>
                <input type="tel" class="form-control" placeholder="Telefono" name="telefono" id="id_telefono">
                <label>Persona de contacto</label>
                <input type="tel" class="form-control" placeholder="Persona" name="persona_contacto" id="id_persona_contacto">
          </div>
       
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
          <button type="button" id="editar_proveedor" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

