<div class="modal fade" id="modal_editar_pediatra">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Editar Pediatra</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="editar_pediatra_form">
          <!-- text input -->
          <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" name="nombre" id="id_nombre">
                <label>Telefono</label>
                <input type="text" class="form-control" placeholder="Telefono" name="telefono" id="id_telefono">
                <input type="hidden" class="form-control" placeholder="Cedula" name="cedula" id="id_cedula">
          </div>
       
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
          <button type="button" id="editar_pediatra" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

