<div class="modal fade" id="modal_editar_nino">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Editar Nino</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="editar_nino_form">
          <!-- text input -->
          <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" name="nombre" id="id_nombre">
                <label>Apellido</label>
                <input type="text" class="form-control" placeholder="Apellido" name="apellido" id="id_apellido">
                <input type="hidden" class="form-control" name="codigo" id="id_codigo">
                <label>Fecha_nac</label>
                <input type="tel" class="form-control" placeholder="Fecha de Nacimiento" name="fecha_nac" id="id_fechanac">
                <label>Sexo</label>
                <input type="tel" class="form-control" placeholder="Sexo" name="sexo" id="id_sexo">
          </div>
       
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
          <button type="button" id="editar_nino" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

