<section class="content">
    <div class="modal fade" id="modal-default-editar">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar Colegio</h4>
              </div>
              <div class="modal-body">
                <form role="form" id="editar_colegio_form">
                <!-- text input -->
                <div class="form-group">
                  <input type="hidden" class="form-control" placeholder="Cedula" name="codigo" id="codigo_editar">
                  <label>Nombre del colegio</label>
                  <input type="text" name="nombre" class="form-control" id="nombre_editar" placeholder="Introduzca el nombre del colegio">
                </div>
                <div class="form-group">
                  <label>Tipo de colegio</label>
                  <div class="radio">
                    <label>
                      <input type="radio" name="tipocolegio" id="tipo_colegio1_editar" value="0" checked>
                      Publico
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="tipocolegio" id="tipo_colegio2_editar" value="1">
                      Privado
                    </label>
                  </div>
                </div>
              </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="editar_colegio">Guardar Cambios</button>
              </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</section>
