<section class="content">
    <div class="modal fade" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Crear Categoría</h4>
              </div>
              <div class="modal-body">
                <form role="form" id="crear_categoria_form">
                <!-- text input -->
                  <div class="form-group">
                    <label>Nombre de la categoría</label>
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre de la categoría">
                    <label>Año nacimiento</label>
                    <input type="text" class="form-control" name="año_nacimiento" placeholder="Año nacimiento">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="crear_categoria">Crear Categoría</button>
              </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</section>
