<section class="content">
    <div class="modal fade" id="modal-default-editar">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar Categoría</h4>
              </div>
              <div class="modal-body">
                <form role="form" id="editar_categoria_form">
                <div class="form-group">
                  <input type="hidden" name="nombre" class="form-control" id="nombre_editar" placeholder="Nombre de la categoria">
                  <label>Año nacimiento</label>
                  <input type="text" class="form-control" name="año_nacimiento" id="año_nacimiento_editar" placeholder="Año nacimiento">
                </div>
              </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="editar_categoria">Guardar Cambios</button>
              </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</section>
